@page
@model RoomMatch.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].IsOrganized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LikesLight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LikesWorkingAlone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Sleep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Cleanliness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Sharing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Sound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Temperature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOrganized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesWorkingAlone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sleep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Social)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleanliness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sharing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
